<div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Daily Activites</b></h1>
    <h1 class="w3-xxxlarge w3-text-blue"><b>Stay Ahead.</b></h1>
    <hr style="width:50px;border:5px solid blue" class="w3-round">

    <div class="w3-row-padding">
        <div class="w3-half w3-margin-bottom">
            <form [formGroup]="fileForm" (ngSubmit)="onSubmit()">
                <div>
                    <input type="file" name="profile" (change)="onFileSelect($event)" />
                </div>
                <div>
                    <button type="submit" class="button import-button">Upload</button>
                </div>
            </form>

            <button class="button export-button" (click)="exportActivityScript()">Export Activities</button>
        </div>
    </div>

    <div *ngIf="!loading" class="w3-row-padding">
        <div class="w3-half" style="text-align: left;">
            <div class="row-3">
                <div *ngFor="let activity of activites" class="card col" style="padding-bottom: 10px;">
                    <div class="container" style="background-color: #89CFF0;">
                        <h4 style="text-align: center;"><b>{{activity.client}}</b></h4>
                        <p><b>Description</b>: {{activity.description}}</p>
                        <p><b>Start Date</b>: {{activity.startDate | date: 'medium'}}</p>
                        <p><b>Due Date</b>: {{activity.dueDate | date: 'medium'}}</p>
                        <div *ngFor="let task of activity.tasks; let i = index">
                            <i class="glyphicon glyphicon-home"></i>
                            <p><b>Task {{i + 1}}</b>: {{task.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="loading" class="relative">
    <app-spinner></app-spinner>
</div>